# Exploratory Data Analysis

Ici nous pouvons faire toutes nos analyses des donn√©es

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('Data/Initial/train.csv')

In [5]:
data.head()

         date    wp1    wp2    wp3    wp4    wp5    wp6
0  2009070100  0.051  0.056  0.233  0.105  0.494  0.045
1  2009070101  0.051  0.066  0.249  0.105  0.257  0.085
2  2009070102  0.000  0.015  0.175  0.033  0.178  0.020
3  2009070103  0.000  0.010  0.085  0.022  0.109  0.060
4  2009070104  0.000  0.010  0.032  0.039  0.079  0.045