# Exploratory Data Analysis

 - wind forecast and wind power from __2009/07/01 to 2011/01/01__, the initial train phase
 - wind forecast and wind power on 36 hours phases between each of the 157 test periods on which you can retrain you models

In [1]:
import pandas as pd
import seaborn as sns
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
training_data_1 = pd.read_csv("Data/Initial/train.csv")
testing_data_1 = pd.read_csv("Data/Initial/test.csv")

wp_1_forecast = pd.read_csv("Data/Initial/wp1.csv")
wp_2_forecast = pd.read_csv("Data/Initial/wp2.csv")
wp_3_forecast = pd.read_csv("Data/Initial/wp3.csv")
wp_4_forecast = pd.read_csv("Data/Initial/wp4.csv")
wp_5_forecast = pd.read_csv("Data/Initial/wp5.csv")
wp_6_forecast = pd.read_csv("Data/Initial/wp6.csv")

In [4]:
wp_1_forecast.head(48)

          date  hors     u     v    ws      wd
0   2009070100     1  3.14 -3.62  4.79  139.09
1   2009070100     2  2.96 -3.56  4.63  140.26
2   2009070100     3  2.89 -3.46  4.51  140.15
3   2009070100     4  2.87 -3.33  4.40  139.26
4   2009070100     5  2.80 -3.19  4.25  138.73
5   2009070100     6  2.57 -3.07  4.00  140.00
6   2009070100     7  2.14 -2.97  3.66  144.27
7   2009070100     8  1.67 -2.86  3.32  149.72
8   2009070100     9  1.43 -2.70  3.06  152.18
9   2009070100    10  1.56 -2.46  2.91  147.59
10  2009070100    11  1.89 -2.13  2.85  138.50
11  2009070100    12  2.15 -1.77  2.78  129.44
12  2009070100    13  2.16 -1.40  2.58  122.82
13  2009070100    14  2.06 -1.05  2.31  117.08
14  2009070100    15  2.04 -0.78  2.19  110.90
15  2009070100    16  2.24 -0.61  2.33  105.30
16  2009070100    17  2.47 -0.57  2.53  102.94
17  2009070100    18  2.44 -0.65  2.52  104.82
18  2009070100    19  1.97 -0.84  2.15  113.07
19  2009070100    20  1.29 -1.09  1.69  130.19
20  2009070100    21  0.70 -1.32  1.49  152.01
21  2009070100    22  0.43 -1.46  1.52  163.55
22  2009070100    23  0.37 -1.51  1.56  166.09
23  2009070100    24  0.34 -1.49  1.52  167.14
24  2009070100    25  0.18 -1.39  1.40  172.80
25  2009070100    26 -0.10 -1.23  1.23  184.53
26  2009070100    27 -0.42 -1.02  1.10  202.31
27  2009070100    28 -0.72 -0.76  1.04  223.41
28  2009070100    29 -0.91 -0.47  1.02  242.58
29  2009070100    30 -0.91 -0.18  0.92  258.76
30  2009070100    31 -0.67  0.10  0.67  278.18
31  2009070100    32 -0.36  0.33  0.48  312.51
32  2009070100    33 -0.19  0.48  0.52  338.10
33  2009070100    34 -0.30  0.54  0.62  330.91
34  2009070100    35 -0.41  0.51  0.65  321.10
35  2009070100    36 -0.16  0.41  0.44  338.42
36  2009070100    37  0.67  0.26  0.72   68.95
37  2009070100    38  1.80  0.08  1.80   87.48
38  2009070100    39  2.79 -0.12  2.79   92.38
39  2009070100    40  3.32 -0.31  3.33   95.36
40  2009070100    41  3.43 -0.50  3.47   98.34
41  2009070100    42  3.30 -0.69  3.37  101.82
42  2009070100    43  3.04 -0.87  3.16  105.88
43  2009070100    44  2.78 -1.01  2.96  110.01
44  2009070100    45  2.59 -1.10  2.82  113.08
45  2009070100    46  2.53 -1.15  2.78  114.40
46  2009070100    47  2.47 -1.25  2.77  116.94
47  2009070100    48  2.21 -1.55  2.71  125.06

In [5]:
testing_data_1.tail()

            date
7435  2012062420
7436  2012062421
7437  2012062422
7438  2012062423
7439  2012062500

In [6]:
test_start_date = '2011-01-01 01:00:00'
test_end_date = '2012-06-25 00:00:00'

# Functions

In [7]:
def integer2date(s):
    s = str(s)
    return  datetime(year=int(s[0:4]), month=int(s[4:6]), day=int(s[6:8]), hour=int(s[8:]))

def adding_hours(h):
    return timedelta(hours = h)

def date_conversion(df):
    df['date_conv'] = df.date.apply(lambda x: integer2date(x))
    df['hours_added'] = df.hors.apply(lambda x: adding_hours(x))
    df['date'] = df['date_conv'] + df['hours_added']
    df = df.drop(columns = ['date_conv', 'hours_added', 'hors'], axis = 1)
    return df

In [8]:
def finding_batch_forecast(df):
    df['forecast_nb'] = 0
    df['gap'] = 0
    for i in range(int(len(df)/12)):
        nb = (i+1) % 4
        if nb == 0:
            nb = 4
        df.iloc[12*i:12*(i+1), 5] = nb
        for j in range(12):
            df.iloc[12*i+j, 6] = j+1
        
    df1 = df[df.forecast_nb == 1].set_index('date')
    df2 = df[df.forecast_nb == 2].set_index('date')
    df3 = df[df.forecast_nb == 3].set_index('date')
    df4 = df[df.forecast_nb == 4].set_index('date') 
    
    df1['u_1'] = df1['u']
    df1['v_1'] = df1['v']
    df1['wd_1'] = df1['wd']
    df1['ws_1'] = df1['ws']    
    
    df1['u_2'] = df2['u']
    df1['v_2'] = df2['v']
    df1['wd_2'] = df2['wd']
    df1['ws_2'] = df2['ws']

    df1['u_3'] = df3['u']
    df1['v_3'] = df3['v']
    df1['wd_3'] = df3['wd']
    df1['ws_3'] = df3['ws']

    df1['u_4'] = df4['u']
    df1['v_4'] = df4['v']
    df1['wd_4'] = df4['wd']
    df1['ws_4'] = df4['ws']
    
    df1 = df1.drop(columns = ['u', 'v', 'wd', 'ws', 'forecast_nb'], axis = 1)
    
    return df1

# Training data

In [9]:
training_data_1['date'] = training_data_1.date.apply(lambda x: integer2date(x))

# WP1 analysis

In [10]:
wp_1_training = training_data_1[['date', 'wp1']]

In [11]:
wp_1_forecast = date_conversion(wp_1_forecast)
wp_1_forecast = finding_batch_forecast(wp_1_forecast)

In [13]:
wp_1_forecast = wp_1_forecast.reset_index()
wp_1_forecast.head(24)

,index,date,gap,u_1,v_1,wd_1,ws_1,u_2,v_2,wd_2,ws_2,u_3,v_3,wd_3,ws_3,u_4,v_4,wd_4,ws_4
0,0,2009-07-01 01:00:00,1,3.14,-3.62,139.09,4.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009-07-01 02:00:00,2,2.96,-3.56,140.26,4.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2009-07-01 03:00:00,3,2.89,-3.46,140.15,4.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2009-07-01 04:00:00,4,2.87,-3.33,139.26,4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2009-07-01 05:00:00,5,2.80,-3.19,138.73,4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2009-07-01 06:00:00,6,2.57,-3.07,140.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2009-07-01 07:00:00,7,2.14,-2.97,144.27,3.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2009-07-01 08:00:00,8,1.67,-2.86,149.72,3.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2009-07-01 09:00:00,9,1.43,-2.70,152.18,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2009-07-01 10:00:00,10,1.56,-2.46,147.59,2.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,2009-07-01 11:00:00,11,1.89,-2.13,138.50,2.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,2009-07-01 12:00:00,12,2.15,-1.77,129.44,2.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,2009-07-01 13:00:00,1,2.25,-1.78,128.33,2.87,2.16,-1.40,122.82,2.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,2009-07-01 14:00:00,2,2.35,-1.77,127.01,2.94,2.06,-1.05,117.08,2.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,2009-07-01 15:00:00,3,2.45,-1.69,124.49,2.98,2.04,-0.78,110.90,2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,2009-07-01 16:00:00,4,2.54,-1.56,121.56,2.98,2.24,-0.61,105.30,2.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,2009-07-01 17:00:00,5,2.56,-1.44,119.26,2.94,2.47,-0.57,102.94,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,2009-07-01 18:00:00,6,2.49,-1.37,118.79,2.84,2.44,-0.65,104.82,2.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,2009-07-01 19:00:00,7,2.29,-1.39,121.23,2.67,1.97,-0.84,113.07,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,2009-07-01 20:00:00,8,1.95,-1.43,126.37,2.42,1.29,-1.09,130.19,1.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,2009-07-01 21:00:00,9,1.47,-1.43,134.18,2.05,0.70,-1.32,152.01,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,2009-07-01 22:00:00,10,0.90,-1.32,145.71,1.60,0.43,-1.46,163.55,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,2009-07-01 23:00:00,11,0.36,-1.09,161.69,1.15,0.37,-1.51,166.09,1.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,2009-07-02 00:00:00,12,0.01,-0.75,178.95,0.75,0.34,-1.49,167.14,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
wp_1_forecast

,date,gap,u_1,v_1,wd_1,ws_1,u_2,v_2,wd_2,ws_2,u_3,v_3,wd_3,ws_3,u_4,v_4,wd_4,ws_4
0,2009-07-01 01:00:00,1,3.14,-3.62,139.09,4.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-07-01 02:00:00,2,2.96,-3.56,140.26,4.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-07-01 03:00:00,3,2.89,-3.46,140.15,4.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-07-01 04:00:00,4,2.87,-3.33,139.26,4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-07-01 05:00:00,5,2.80,-3.19,138.73,4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26119,2012-06-23 08:00:00,8,-0.20,-1.37,188.45,1.38,-0.62,-1.52,202.15,1.64,0.23,-2.02,173.53,2.03,0.13,-2.16,176.60,2.17
26120,2012-06-23 09:00:00,9,-0.01,-1.11,180.61,1.11,-0.69,-1.25,208.73,1.43,0.35,-1.94,169.70,1.97,0.30,-2.13,172.02,2.15
26121,2012-06-23 10:00:00,10,0.04,-1.00,177.91,1.00,-0.85,-0.96,221.45,1.28,0.38,-1.80,168.12,1.84,0.34,-2.05,170.55,2.08
26122,2012-06-23 11:00:00,11,0.07,-0.96,175.68,0.97,-0.92,-0.72,232.04,1.16,0.39,-1.63,166.44,1.68,0.36,-1.93,169.44,1.97
26123,2012-06-23 12:00:00,12,0.30,-0.89,161.65,0.94,-0.65,-0.59,227.99,0.88,0.50,-1.45,160.83,1.53,0.49,-1.79,164.60,1.86

In [16]:
wp_1_forecast[(wp_1_forecast.date >= test_start_date) & (wp_1_forecast.date <= test_end_date)].head(48)

,date,gap,u_1,v_1,wd_1,ws_1,u_2,v_2,wd_2,ws_2,u_3,v_3,wd_3,ws_3,u_4,v_4,wd_4,ws_4
13176,2011-01-01 01:00:00,1,2.27,7.04,17.85,7.40,0.94,7.40,7.23,7.46,1.17,7.71,8.60,7.80,0.52,7.20,4.10,7.21
13177,2011-01-01 02:00:00,2,1.95,6.93,15.69,7.19,0.99,7.18,7.82,7.25,0.89,7.74,6.55,7.79,0.40,7.11,3.25,7.12
13178,2011-01-01 03:00:00,3,1.49,7.09,11.87,7.24,1.14,7.10,9.09,7.19,0.65,7.80,4.75,7.82,0.32,7.22,2.52,7.23
13179,2011-01-01 04:00:00,4,0.95,7.43,7.27,7.50,1.30,7.24,10.14,7.36,0.44,7.88,3.22,7.89,0.26,7.52,2.00,7.52
13180,2011-01-01 05:00:00,5,0.37,7.84,2.67,7.85,1.28,7.49,9.67,7.60,0.19,7.99,1.33,7.99,0.10,7.86,0.71,7.86
13181,2011-01-01 06:00:00,6,-0.22,8.17,358.46,8.17,0.87,7.69,6.42,7.74,-0.23,8.13,358.40,8.14,-0.35,8.06,357.51,8.07
13182,2011-01-01 07:00:00,7,-0.76,8.33,354.78,8.36,-0.04,7.73,359.67,7.73,-0.84,8.30,354.24,8.35,-1.16,8.03,351.79,8.11
13183,2011-01-01 08:00:00,8,-1.18,8.38,351.96,8.46,-1.13,7.77,351.70,7.85,-1.42,8.51,350.55,8.62,-1.99,7.97,345.98,8.21
13184,2011-01-01 09:00:00,9,-1.41,8.43,350.49,8.55,-1.97,7.99,346.14,8.23,-1.67,8.74,349.20,8.90,-2.40,8.16,343.59,8.51
13185,2011-01-01 10:00:00,10,-1.42,8.57,350.61,8.68,-2.24,8.54,345.30,8.83,-1.40,9.00,351.17,9.11,-2.12,8.81,346.48,9.06
13186,2011-01-01 11:00:00,11,-1.35,8.85,351.34,8.95,-2.06,9.30,347.50,9.53,-0.83,9.29,354.91,9.32,-1.45,9.71,351.50,9.82
13187,2011-01-01 12:00:00,12,-1.40,9.31,351.42,9.42,-1.66,10.09,350.64,10.23,-0.28,9.60,358.35,9.61,-0.88,10.58,355.27,10.62
13188,2011-01-01 13:00:00,1,NaN,NaN,NaN,NaN,-1.63,9.92,350.64,10.05,-1.18,10.70,353.68,10.77,0.05,9.87,0.31,9.87
13189,2011-01-01 14:00:00,2,NaN,NaN,NaN,NaN,-1.48,10.30,351.82,10.40,-0.39,10.76,357.90,10.77,0.43,9.73,2.55,9.74
13190,2011-01-01 15:00:00,3,NaN,NaN,NaN,NaN,-0.23,10.01,358.67,10.02,1.03,9.88,5.94,9.93,1.26,8.75,8.19,8.84
13191,2011-01-01 16:00:00,4,NaN,NaN,NaN,NaN,2.46,8.80,15.59,9.14,3.17,7.90,21.88,8.51,2.72,6.76,21.95,7.29
13192,2011-01-01 17:00:00,5,NaN,NaN,NaN,NaN,5.49,7.19,37.37,9.05,5.21,5.63,42.80,7.67,4.22,4.57,42.74,6.22
13193,2011-01-01 18:00:00,6,NaN,NaN,NaN,NaN,7.43,5.90,51.53,9.48,6.08,4.10,56.02,7.33,4.95,3.24,56.77,5.92
13194,2011-01-01 19:00:00,7,NaN,NaN,NaN,NaN,7.30,5.43,53.35,9.10,5.17,4.01,52.21,6.54,4.44,3.48,51.92,5.64
13195,2011-01-01 20:00:00,8,NaN,NaN,NaN,NaN,6.19,5.47,48.50,8.26,3.69,4.69,38.19,5.97,3.58,4.51,38.40,5.76
13196,2011-01-01 21:00:00,9,NaN,NaN,NaN,NaN,5.66,5.50,45.82,7.90,3.30,5.13,32.74,6.10,3.58,5.21,34.47,6.32
13197,2011-01-01 22:00:00,10,NaN,NaN,NaN,NaN,6.83,5.13,53.06,8.54,5.10,4.60,47.99,6.87,5.24,4.76,47.77,7.08
13198,2011-01-01 23:00:00,11,NaN,NaN,NaN,NaN,8.85,4.50,63.05,9.93,8.03,3.52,66.35,8.77,7.72,3.65,64.69,8.54
13199,2011-01-02 00:00:00,12,NaN,NaN,NaN,NaN,10.45,3.88,69.61,11.15,10.47,2.61,76.01,10.79,9.75,2.71,74.45,10.12
13200,2011-01-02 01:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.67,3.51,71.79,11.23,11.22,2.40,77.93,11.47
13201,2011-01-02 02:00:00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.93,3.43,70.95,10.50,10.74,2.67,76.01,11.07
13202,2011-01-02 03:00:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.99,3.63,68.00,9.69,9.91,3.03,72.97,10.36
13203,2011-01-02 04:00:00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.47,4.10,64.19,9.40,9.41,3.18,71.34,9.94
13204,2011-01-02 05:00:00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.36,4.67,60.81,9.58,9.21,3.21,70.76,9.75
13205,2011-01-02 06:00:00,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.52,5.18,58.68,9.98,9.04,3.34,69.71,9.64
13206,2011-01-02 07:00:00,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.81,5.50,58.04,10.38,8.73,3.71,66.98,9.48
13207,2011-01-02 08:00:00,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.14,5.61,58.44,10.72,8.39,4.23,63.25,9.39
13208,2011-01-02 09:00:00,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.43,5.58,59.39,10.96,8.19,4.75,59.88,9.47
13209,2011-01-02 10:00:00,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.63,5.43,60.58,11.05,8.27,5.16,58.05,9.75
13210,2011-01-02 11:00:00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.73,5.17,62.02,11.02,8.55,5.38,57.83,10.11
13211,2011-01-02 12:00:00,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.76,4.80,63.79,10.88,8.91,5.38,58.91,10.41
13212,2011-01-02 13:00:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.72,4.35,65.88,10.65
13213,2011-01-02 14:00:00,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.59,3.93,67.72,10.36
13214,2011-01-02 15:00:00,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.33,3.67,68.53,10.03
13215,2011-01-02 16:00:00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.98,3.66,67.84,9.69
13216,2011-01-02 17:00:00,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.71,3.72,66.88,9.47
13217,2011-01-02 18:00:00,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.78,3.64,67.51,9.51
13218,2011-01-02 19:00:00,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.33,3.26,70.73,9.88
13219,2011-01-02 20:00:00,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.08,2.77,74.63,10.45
13220,2011-01-02 21:00:00,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.66,2.41,77.25,10.93
13221,2011-01-02 22:00:00,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.79,2.36,77.66,11.05
13222,2011-01-02 23:00:00,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.62,2.49,76.82,10.91
13223,2011-01-03 00:00:00,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.38,2.58,76.04,10.70

# WP2 analysis

In [13]:
wp_2_training = training_data_1[['date', 'wp2']]

In [14]:
wp_2_forecast = date_conversion(wp_2_forecast)
wp_2_forecast = finding_batch_forecast(wp_2_forecast)